/* all tags */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol {
    list-style: none;
}

body {

    background: #EFEFEF;
}

/* conmmon */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header  */
.topNavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    color: gray;
}

.topNavBar .inner {
    padding: 0 10px;
}

.topNavBar a {
    float: left;
    margin-left: 4px;
    padding: 7px;
    font-size: 24px;
    font-family: "Arial";
    font-weight: bold;
    color: inherit;
}

.topNavBar a>span {
    color: #E8676B;
    margin-right: 4px;
}

.topNavBar nav {
    float: right;
}

.topNavBar nav>a {
    padding: 10px 0;
    margin-left: 21px;
    display: inline-block;
    font-size: 12px;
    color: #B4B3B5;
    border: 0 solid transparent;
    border-width: 3px 0;
    font-weight: bold;
}

.topNavBar nav>a:hover {
    border-bottom-color: red;
}

.banner {
    height: 515px;
    background: url('../images/banner.jpg') center center;
    background-size: cover;
}

.banner .mask {
    height: 100%;
    background: rgba(33, 37, 44, 0.8);
}

main {
    max-width: 930px;
    margin: 0 auto;
    margin-top: -343px;
    margin-bottom: 35px;
    background: #fff;
}

main .card {
    padding: 58px 50px;
}

main .card .picture,
main .card .intro {
    float: left;
}

main .card .intro {
    width: 470px;
    margin-left: 64px;
}

main .card .intro .profile .welcome {
    position: relative;
    padding: 7px 12px;
    display: inline-block;
    background: #E8676B;
    color: white;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
}

div.triangle {
    position: absolute;
    top: 100%;
    left: 2px;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #E8676B;
    border-top-width: 0px;
}

main .card .intro .profile h1 {
    margin: 20px 0 10px 0;
}

hr {
    margin-top: 20px;
}

main .card .intro .profile dl dt,
main .card .intro .profile dl dd {
    float: left;
    margin-top: 20px;
}

main .card .intro .profile dl dt {
    width: 30%;
}

main .card .intro .profile dl dd {
    width: 70%;
}

main footer.media {
    text-align: center;
    background: #E8676B;
}

main footer.media>a {
    display: inline-block;
    width: 35px;
    margin: 20px 13px;
    padding: 5px 0;
    line-height: 25px;
    border-radius: 50%;
}

main footer.media>a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.media svg {
    width: 25px;
    height: 25px;
    fill: white;
    vertical-align: top;
}

a.button {
    display: inline-block;
    padding: 24px 55px;
    margin-bottom: 38px;
    transition: box-shadow 0.3s;
    border: 1px solid #B4B3B5;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}

a.button:hover {
    box-shadow: -2px 6px 22px 2px rgba(0, 0, 0, 0.42);
}

/* skills */
section.skills {
    font-size: 0;
    width: 940px;
    margin: 38px auto 0;
    text-align: center;
}

section.skills h2 {
    font-size: 20px;
    margin-bottom: 25px;
}

section.skills div.photo {
    padding: 40px 48px 0;
    background: #fff;
}

section.skills div.photo span {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 47%;
    height: 65px;
    margin: 0 12px;
    box-sizing: border-box;

}

section.skills div.photo span div.progress {
    background: #FBE0E1;
}

section.skills div.photo span div.progress .pros {
    background: #E8676B;
    width: 80%;
    height: 5px;
}

section.skills div.photo span:nth-child(2) div.pros {
    width: 75%;
}

section.skills div.photo span:nth-child(3) div.pros {
    width: 60%;
}

section.skills div.photo span:nth-child(5) div.pros {
    width: 10%;
}

section.skills div.photo span:nth-child(6) div.pros {
    width: 10%;
}

/* works */
section.works {
    position: relative;
    margin: 70px auto 0;
    width: 940px;
    text-align: center;
}

section.works h2 {
    margin-bottom: 25px;
}

section.works nav {
    width: 290px;
    margin: 0 auto;
}

section.works nav button {
    margin-left: 45px;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    font-size: 20px;
}

section.works nav button:first-child {
    margin-left: 0;
}

.progress {
    background: #FBE0E1;
    border-radius: 5px;
}

.pros {
    background: #E8676B;
    width: 30%;
    height: 7px;
    border-radius: 5px;
}

.prosac1 {
    margin-left: 88px;
    width: 36%;
}

.prosac2 {
    margin-left: 202px;
    width: 30%;
}

div.jobsL {
    margin-top: 30px;
    height: 570px;
}

div.jobsL div.big {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 600px;
    padding: 0 10px;
}

div.jobsL div.small {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 22px;

}

div.jobsL div.smallT {
    margin-bottom: 10px;
}

div.jobsL div.smallB {}